@import "variables";


section{
    background: $colorUno;
    h1{
        height: 200px;
        background: #d7385e;
    }
    h2{
        background: #fb7b6b;
        color: white;
    }
    p{
        background: #e7d39f;
    }
}





h1{
    color: white
}

footer{
    background: #DC143C;
    
}
